---
import Chip from "@core/components/Chip.astro"
import Person from "@core/assets/person.svg"
---

<div class="card flex flex-col gap-4 p-6 h-fit rounded-xl bg-container-low text-on-surface min-w-[40%] w-fit shadow-lg">
    <div class="text-primary font-500 text-sm">
        <slot name="name">
            Name
        </slot>
    </div>
    <div class="text-on-surface text-3xl font-semibold">
        <slot name="header">
            Header
        </slot>
    </div>
    <slot name="description">
        Description
    </slot>
    <div class="inline-flex w-full gap-2 items-center flex-wrap">
        <slot>
            <Chip>
                <Person class="size-4"/>
                1 Chip
            </Chip>
            <Chip>
                <Person class="size-4"/>
                2 Chips
            </Chip>
            <Chip>
                <Person class="size-4"/>
                3 Chips???
            </Chip>
        </slot>
    </div>
</div>
