<footer class="max-w-[750px] flex justify-between gap-4 px-2 mx-auto text-on-surface/75 text-xs mb-8">
    &COPY; 2025 Campground. All rights reserved.

    <div class="inline-flex gap-2">
        <a>Privacy Policy</a>
        <a>Terms of Use</a>
    </div>

</footer>
