---
import { Image } from "astro:assets";
import Tent from "@core/assets/phosphor-tent.svg";
---
<header class="sticky max-w-[750px] mx-auto top-4 flex flex-row gap-4 py-2 px-3 h-12 rounded-xl bg-container-low/70 text-on-surface border border-on-surface/10 w-full shadow-lg backdrop-blur-xs z-[999]">

    <a class="inline-flex items-center font-[500] justify-center gap-1.5" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-6" width="32" height="32" fill="currentColor" viewBox="0 0 256 256"><path d="M238.74,211.69,137.5,53.5l21.24-33.19a8,8,0,0,0-13.48-8.62L128,38.66l-17.26-27a8,8,0,1,0-13.48,8.62L118.5,53.5,17.26,211.69A8,8,0,0,0,24,224H232a8,8,0,0,0,6.74-12.31Zm-50-3.69-54-84.31a8,8,0,0,0-13.48,0L67.3,208H38.62L128,68.34,217.38,208Z"></path></svg>

    </a>
</header>
