---
import Project from "@core/components/Project.astro"
import Card from "@core/components/Card.astro"
import Chip from "@core/components/Chip.astro"
import Person from "@core/assets/person.svg"
import Star from "@core/assets/Star.svg"
---

<div id="container" class="p-4 flex flex-col items-center justify-center w-full lg:h-full my-0 md:my-5">
    <div class="flex flex-col gap-6 items-center justify-center max-w-[750px]">
        <main class="flex content-center w-full">
            <Card>
                <p slot="name">About</p>
                <h2 slot="header">Hello, We are Campground</h2>
                <p slot="description">
                    An independent collective where creativity meets code and design.
                    We're a small group passionate about developing open-source tools, experimenting with new tech, and growing projects under one shared identity.
                    Whether it's a new app, community, or a weekend experiment, every project developed at Campground is fueled by curiosity, collaboration, and s'mores.
                </p>

                <Chip>
                    <Person/>
                    2
                </Chip>
            </Card>
        </main>

        <div class="flex flex-col items-center gap-2">
            <div class="inline-flex items-start w-full">
                <h2 class="text-on-surface-alt font-[500]">Projects</h2>
            </div>
            <div class="flex flex-wrap gap-3 max-w-[750px]">
                <Project
                    name="Campsite"
                    description="An ever-growing community on Discord that aims to provide a warm welcome to all new members joining us!"
                    extra={[
                        { icon: Person, value: 300 }
                    ]}
                />
                <Project
                    name="Bonfire"
                    description="A cute, fun and easy to use ShareS replacement."
                    lang="Kotlin"
                    extra={[
                        { icon: Star, value: 14 }
                    ]}
                />
            </div>
        </div>
    </div>
</div>
