---
import Header from "@core/components/Header.astro"
import "../styles/global.css"
import "@fontsource/inter/400.css"
import "@fontsource/inter/500.css"
import "@fontsource/inter/700.css"
import "@fontsource/inter/800.css"
import Footer from "@core/components/Footer.astro"
---

<!doctype html>
<html lang="en" class="w-full min-h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>The Campground</title>
	</head>
	<body class="m-[0] w-full min-h-full font-inter bg-background">
	    <Header/>
		<slot />
		<Footer/>
	</body>
</html>
